@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  background-color: rgb(234, 237, 237);
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
span {
  font-family: "Lato", sans-serif;
}

button:hover {
  cursor: pointer;
}
